@import "Assets/css/normalize.css";

body{
    header{ 
        background-color: black;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .useless{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            margin-top: 5px;
            button{
                margin-top: 5%;
                margin-left: 2%;
                color: white;
                font-size: 18px;
                background-color: rgba(110, 42, 173, 0.808);
                border: solid 7px rgb(189, 19, 53);
                width: 200px;
                height: 150px;
                transition: all .5s ease-in-out;
            }
            #b1{
                &:hover{
                    background-image: url('../../img/pika.jpg');
                    background-position: center;
                    background-size: cover;
                    background-color: black;
                    color: white;
                    transition: all .5s ease-in-out;
                }
            }
            #b2{
                &:hover{
                    transition: all .2s ease-in-out;
                    transform: scale(1.2);
                }
            }
            #b3{
                &:hover{
                    transform: translatey(200px);
                }
            }
        }
        .heading{
            color: white;
            text-align: center;
            margin-left: 20%;
            h1{
                font-size: 60px;
                text-align: left;
                text-decoration: underline;
            }
            p{
                font-size: 24px;
                text-align: left;
            }
        }
    }
    background-color: rgba(172, 168, 168, 0.767);      
    .main{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        .top{
            @extend .main;
            display: block;
            .circle {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                font-size: 24px;
                color: #fff;
                line-height: 200px;
                text-align: center;
                background: rgb(202, 70, 9);
                position: absolute;
                right: 20%;
                top: 25%;
                float: left;
            }
        }
        .bottom{
            article{
                margin-left: 10%;
                margin-right: 10%;
                h2{
                    font-size: 52px;
                    color: black;
                }
                h3{
                    font-size: 36px;
                    color: rgb(202, 70, 9);
                }
                p{
                    font-size: 24px;
                    color: gray;
                }
            }
        }
        .comments{
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                margin-left: 5%;
                li{
                    text-decoration: none;
                    display: inline;
                    i{
                        padding-left: 5%;
                        padding-right: 2%;
                        color: gray;
                        font-size: 24px;  
                     }
                    a{
                        color: gray;
                        font-size: 24px; 
                        text-align: center;
                        text-decoration: none;
                        padding: 16px;
                    }
                }
            }
        }
    }
}
