@import url(Assets/css/normalize.css);
/* line 3, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body {
  display: block;
  background-color: rgba(172, 168, 168, 0.767);
}

/* line 5, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header {
  background-color: black;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* line 10, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 5px;
}

/* line 15, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .wrapper button {
  margin-top: 5%;
  margin-left: 2%;
  color: white;
  font-size: 18px;
  background-color: rgba(110, 42, 173, 0.808);
  border: solid 7px #bd1335;
  width: 200px;
  height: 150px;
  transition: all .5s ease-in-out;
}

/* line 27, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .wrapper #b1:hover {
  background-image: url("../../img/pika.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  color: white;
  transition: all .5s ease-in-out;
}

/* line 37, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .wrapper #b2:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

/* line 43, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .wrapper #b3:hover {
  transform: translatey(200px);
}

/* line 48, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .heading {
  color: white;
  text-align: center;
  margin-left: 20%;
}

/* line 52, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .heading h1 {
  font-size: 60px;
  text-align: left;
  text-decoration: underline;
}

/* line 57, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body header .heading p {
  font-size: 24px;
  text-align: left;
}

/* line 64, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 900px;
}

/* line 70, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .top .circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #ca4609;
  position: absolute;
  top: 25%;
  right: 25%;
}

/* line 78, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .top .circle p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin-top: 50%;
  margin-bottom: 50%;
}

/* line 86, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .top .rectangle {
  width: 150px;
  height: 50px;
  background: #ca4609;
  position: absolute;
  bottom: 17%;
  left: 25%;
}

/* line 93, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .top .rectangle p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

/* line 101, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .bottom {
  background-image: url("../../img/picasso.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

/* line 106, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .bottom article {
  padding-top: 55%;
  margin-left: 10%;
  margin-right: 10%;
}

/* line 110, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .bottom article h2 {
  font-size: 52px;
  color: black;
}

/* line 114, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .bottom article h3 {
  font-size: 36px;
  color: #ca4609;
}

/* line 118, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .bottom article p {
  font-size: 24px;
  color: gray;
}

/* line 124, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .comments {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 127, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .comments ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 5%;
}

/* line 133, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .comments ul li {
  text-decoration: none;
  display: inline;
}

/* line 136, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .comments ul li i {
  padding-left: 5%;
  padding-right: 2%;
  color: gray;
  font-size: 24px;
}

/* line 142, ../Documents/GitHub/becode-animation-css/Assets/scss/style.scss */
body .main .comments ul li a {
  color: gray;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 16px;
}

/*# sourceMappingURL=style.css.map */